.ChainContainer__wrapper {
    background-color: aliceblue;
    padding: 8px;
    border-bottom-left-radius: 8px;
    right: 0;
}

.StationsSuggestion__wrapper {
    background-color: aliceblue;
    padding: 8px;
    border-bottom-left-radius: 8px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: fit-content;
    bottom: 0;
}

.ChainContainer__row-selected {
    background-color: beige;
}

.ChainContainer__row-done {
    color: grey;
}